@import url(./fonts.css);

/* ************** General CSS ************** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --background-color: #f9fafa;
  --text-color: #555f62;
  --dark-text-color: #141719;
  --light-dark-text-color: #222;
  --product-card-border-color: #e1e4e5;
  --h-border-color: #eef1f1;
  --primary-blue-color: #182cc0;
  --hover-button-color: #3295ce;
  --active-button-color: #2778a7;

  --white-color: #fff;
}
body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: TBCX, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: var(--dark-text-color);
}

/* ************** Reusable Classes ************** */
.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.arrow-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  transition: color ease-in-out 0.25s;
}

.arrow-link a:hover,
a:link,
a:visited,
a:active {
  color: var(--primary-blue-color);
}

.arrow-link__icon path {
  transition: fill ease-in-out 0.25s;
}

.arrow-link__text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.96rem;
  text-transform: uppercase;
}

.arrow-link:hover {
  color: var(--hover-button-color);
}

.arrow-link:active {
  color: var(--active-button-color);
}
.arrow-link:hover path {
  fill: var(--hover-button-color);
}
.arrow-link:active path {
  fill: var(--active-button-color);
}

.lang__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0 0.8rem;
  height: 3.6rem;
  cursor: pointer;

  transition: all ease-in-out 0.25s;
}

.lang__dropdown:hover {
  background-color: #eef1f1;
  border-radius: 4px;
}

.lang__dropdown__icon {
  display: flex;
}

.lang__dropdown__text {
  font-weight: 700;
}

.lang__list-wrapper {
  position: absolute;
  left: 0;
  top: 4rem;
  display: flex;
  justify-content: center;
  color: var(--dark-text-color);
  background-color: var(--white-color);
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
  padding: 0.8rem 0;
  font-weight: 500;
  width: 100%;
}

.lang__list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.4rem 0;

  transition: all ease-in-out 0.25s;
}

.lang__list:hover {
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

/* ************** Header Section ************** */
.header {
  width: 100%;
  height: 8rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--h-border-color);
}

.header__wrapper {
  max-width: 110rem;
  margin: 0 auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.header__logo {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 0 4rem;
  cursor: pointer;
  height: 100%;
}

.header__dropdown {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__dropdown__name {
  color: var(--light-dark-text-color);
  font-size: 1.6rem;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.header__search-button {
  display: flex;
  padding: 0.8rem;
  cursor: pointer;
}

.header__search-button path {
  transition: fill ease-in-out 0.25s;
}

.header__search-button:hover path {
  fill: var(--hover-button-color);
}

.header__search-button:active path {
  fill: var(--active-button-color);
}

/* ************** Breadcrumbs Component ************** */
.breadcrumbs__component {
  padding: 2.4rem 0;
}

.breadcrumbs {
  color: var(--dark-text-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.04rem;
}

/* ************** Home Hero Section ************** */
.section__home-hero {
  padding: 3.2rem 0 6rem 0;
}

.banner__wrapper--main {
  background-image: url(../images/banner-1.png);
}

.banner__wrapper {
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.5rem;
}

.banner__content {
  max-width: 92rem;
  color: var(--white-color);
}

.banner__inner {
  max-width: 54rem;
}

.banner__header {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 1.6rem;
}

.banner__text {
  line-height: 2.72rem;
  margin-bottom: 2.4rem;
}

.banner__button {
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  height: 5rem;
  border-radius: 4px;
  line-height: 1.33;
  background-color: var(--hover-button-color);

  transition: all ease-in-out 0.25s;
}

.banner__button--main {
  width: 15rem;
}

.banner__button__hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #001682, #3240e5);

  transition: opacity 0.25s ease;
}

.banner__button:hover .banner__button__hover {
  opacity: 0;
}

.banner__button:hover {
  background: var(--hover-button-color);
}

.banner__button:active {
  background: var(--active-button-color);
}

.banner__button__icon {
  display: flex;
}

.banner__button__icon > svg > path {
  fill: var(--white-color);
}

.banner__button__text {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.596rem;
  text-transform: uppercase;
}

/* ************** Big Message Section ************** */
.section__big-message {
  padding: 6rem 0;
}

.big-message__text {
  color: var(--dark-text-color);
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 5.4rem;
}

/* ************** Select Packages Section ************** */
.section__packages {
  padding: 6rem 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3.6rem;
}

.section__header {
  color: var(--dark-text-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.grid-cards-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.grid-card {
  position: relative;
  min-height: 25.6rem;
  color: var(--white-color);
  border-radius: 8px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  transition: all ease-in-out 0.25s;
}

.grid-card--2 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

.grid-card:hover {
  background-size: 105% 105%;
}

.grid-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform ease-in-out 0.25s;
  filter: brightness(0.75);
}

.grid-card:hover::before {
  transform: scale(1.02);
}

.grid-card--1::before {
  background-image: url(../images/product-1.png);
  background-position: center;
}

.grid-card--2::before {
  background-image: url(../images/product-2.png);
  background-position: center top;
}

.grid-card--3::before {
  background-image: url(../images/product-3.png);
  background-position: center;
}

.grid-card__content {
  z-index: 5;
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
  height: 100%;
}

.grid-card__header {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}

.arrow-link__icon.is-white svg path {
  fill: var(--white-color);
  transition: all ease-in-out 0.25s;
}

.arrow-link__text.is-white {
  color: var(--white-color);
  text-decoration: underline;
  line-height: 1.4rem;

  transition: all ease-in-out 0.25s;
}

.arrow-link.is-white:hover .arrow-link__text {
  color: #aeaeae;
  text-decoration: none;
}

.arrow-link.is-white:hover .arrow-link__icon path {
  fill: #aeaeae;
}

/* ************** Stats Section ************** */
.section__stats {
  padding: 6rem 0;
}

.stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.stats__item {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.6rem;
  border-radius: 8px;
  padding: 4rem 4.8rem;
  background-color: var(--white-color);
  font-weight: 500;
}

.stats__item__number {
  color: var(--dark-text-color);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
}

/* ************** Offers Section ************** */
.section__offers {
  padding: 6rem 0;
  overflow: hidden;
}

.header-wrapper {
  justify-content: space-between;
}

.slider__container {
  cursor: grab;
}

.slider-wrapper {
  overflow: scroll;
  display: flex;
  gap: 3rem;
  margin-bottom: 3.8rem;
}

.slide {
  width: 35rem;
  flex-shrink: 0;
}

.product-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
}

.product-card:hover .product-card__img {
  transform: translateY(-4px);
}

.product-card__img-wrapper {
  overflow: hidden;
  position: relative;
  height: 21.2rem;
}

.product-card__img {
  transition: all ease-in-out 0.25s;
  transform: translateY(0);
  height: 102%;
  object-fit: cover;
}

.product-card__logo-wrapper {
  overflow: hidden;
  position: absolute;
  top: 1.6rem;
  right: 0;
  width: 7.8rem;
  height: 5.6rem;
  background-color: var(--white-color);
  border-radius: 6px 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__logo {
  max-width: 100%;
  max-height: 100%;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.8rem;
}

.product-card__category-wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}

.product-card__category {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.product-card__title {
  color: var(--dark-text-color);
  font-size: 1.6rem;
}

/* ************** Slider Scrollbar ************** */
.slider__scrollbar {
  height: 0.3rem;
  background-color: #d1d5d6;
  border-radius: 1px;
  line-height: 1.7;
  margin-right: 9.2rem;
  display: flex;
  justify-content: space-between;
}

.slider-scrollbar-drag {
  width: 30rem;
  background: var(--primary-blue-color);
  height: 100%;
  border-radius: 1px;
}

/* ************** Slider Navigation Elements ************** */

.slider__nav-arrows {
  display: flex;
  gap: 1.6rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: -0.6rem;
  cursor: pointer;
}
